<div class="col d-flex justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <div class="card-text mb-4">
        <h2 class="card-title font-italic">"{{ quote.text }}"</h2>
      </div>
      <div class="card-subtitle mb-3">
        <h3 class="text-muted">— {{ quote.source }}</h3>
      </div>
      <div class="card-footer bg-transparent border-top-0 px-0">
        <div class="d-flex justify-content-between align-items-center">
          <span class="text-muted small">
            Просмотры: {{ quote.views }}
          </span>
          <div>
            {% if request.resolver_match.view_name != 'quote:top_quotes' %}
              {% include "includes/likes.html" %}
            {% else %}
               <span class="emoji">👍</span> {{ quote.total_likes }}
            {% endif %}
          </div>
        </div>
      </div>
      {% if request.resolver_match.view_name == 'quote:top_quotes' %}
        <a href="{% url 'quote:quote_detail' quote.id %}" class="card-link">Читать полный текст</a>
      {% endif %}
      </div>
  </div>
</div>