{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Добавление цитаты{% endblock %}
{% block content %}
<form method="post">
  {% csrf_token %}
  {% bootstrap_field form.text layout='vertical' %}
  {% bootstrap_field form.weight layout='vertical' %}

  <div class="row mb-3">
    <div class="col-md-3">
      {% bootstrap_field form.source layout='vertical' %}
    </div>
    <div class="col-md-1 d-flex align-items-center justify-content-center">
      <small>или</small>
    </div>
    <div class="col-md-3">
      {% bootstrap_field form.added_source layout='vertical' %}
    </div>
    <div class="col-md-3">
      {% bootstrap_field form.added_source_type layout='vertical' %}
    </div>
  </div>
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {{ form.non_field_errors }}
    </div>
  {% endif %}
  <button type="submit" class="btn btn-primary">Добавить цитату</button>
</form>
{% endblock %}