{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ru">
	<head>
    <meta charset="utf-8">
    {% bootstrap_css %}
    <title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<header>
      <nav class="navbar navbar-light" style="background-color: #98FB98;">
        <div class="container">
          {% with request.resolver_match.view_name as view_name %}
            <ul class="nav  nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'quote:random_quote' %}">Случайная цитата</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="{% url 'quote:top_quotes' %}">Лучшие цитаты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="{% url 'quote:create_quote' %}">Добавить цитату</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item d-flex align-items-center">
                  <span class="me-2">Пользователь: {{ user.username }}</span>
                  <form method="post" action="{% url 'logout' %}" >
                    {% csrf_token %}
                    <button class="btn btn-outline-primary" type="submit">Выйти</button>
                  </form>
                </li>
              {% else %}
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                  <button type="button" class="btn btn-outline-primary">
                    <a href="{% url 'login' %}">Войти</a>
                  </button>
                  <button type="button" class="btn btn-outline-primary">
                    <a href="{% url 'registration' %}">Регистрация</a>
                  </button>
                </div>
              {% endif %}
            </ul>
          {% endwith %}
          </div>
        </nav>
		</header>
		<main>
      <div class="container py-5">
			  {% block content %}{% endblock %}
      </div>
		</main>
	</body>